/* Globals */
:root {
  --linear-gradient: linearGradient(
    #6448fe,
    #600594
  ); /* (active input border) */
  --red: #ff5252; /*(input errors)*/
  --white: #ffffff;
  --light-grayish-violet: #dedddf;
  --dark-grayish-violet: #8e8593;
  --very-dark-violet: #21092f;
  --black: #222222;
}

body,
html {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  text-align: center;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--black);
}

a:hover,
a:focus {
  color: var(--black);
}

body {
  background: var(--white);
  background-repeat: no-repeat;
  background-image: url("./images/bg-main-desktop.png");
  background-size: 100% 17em;
  @media screen and (min-width: 992px) {
    background-size: auto;
  }
}

.page-layout {
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: space-between;
  @media screen and (min-width: 992px) {
    height: 600px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form {
  display: flex;
  justify-content: center;
  width: 50%;
  font-size: 1.125rem;
  width: 600px;
  @media screen and (min-width: 992px) {
    width: 50%;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.card-details-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.expiration-date-container {
  display: flex;
  flex-direction: column;
}
.expiration-date-container__label {
  white-space: nowrap;
}

.expiration-date-container__boxes {
  display: flex;
}

.expiry-input {
  width: 50%;
}

input[type="text"] {
  padding: 12px;
  border: 1px solid var(--black);
  border-radius: 3px;
}

.input-boxes {
  width: 100%;
}

.btn {
  width: 100%;
  color: var(--white);
  background-color: var(--very-dark-violet);
  border-radius: 10px;
  padding: 0.75em 2em;
}
