/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default for mobile-first design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100vw; 
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .75rem;
  background-color: white;
  position: relative;
  z-index: 100;
  border-bottom: 1px solid black;
}

header {
  border: 1px solid red;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header-background {
  border: 3px solid purple;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 45vh;
  background-image: 
    url('/project2/img/Path_6_green.png'), 
    url('/project2/img/Path_6_navy.png');
  /* background-position: 
    10em -9em, 
    -10em -13em;  */
  background-position: 16vw -30vh, -26vw -32vh;
  /* background-position: 109px 0px, -63px 30px; */
  background-repeat: no-repeat;
  background-size: 
    800px, 
    800px
}

#phone-group {
  position: relative;
  top: -4em;
  width: 95vw;
  left: -0.25em;
  max-width: 380px;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.cta-button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #33d35e 0%, #2ab6d9 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  justify-content: center;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px){

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px){

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px){

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px){

}

/* XXL devices (larger desktops, 1400px and up) */
@media (min-width: 1400px){

}
